SoaForm/Connected Services/ServiceReference1/Servisim.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProduct">
        <s:complexType />
      </s:element>
      <s:element name="GetProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductResult" type="tns:ArrayOfUrunler" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUrunler">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="urunler" nillable="true" type="tns:urunler" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="urunler">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="kategoriID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="adi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="kisaaciklama" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="aciklama" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="resim" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="anasayfaaciklama" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="anasayfadagoster" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="googleanahtar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="googleaciklama" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserDetails" type="tns:UserDetails" />
      <s:complexType name="UserDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductSoapIn">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="GetProductSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductUserDetails">
    <wsdl:part name="UserDetails" element="tns:UserDetails" />
  </wsdl:message>
  <wsdl:portType name="ServisimSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <wsdl:input message="tns:GetProductSoapIn" />
      <wsdl:output message="tns:GetProductSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServisimSoap" type="tns:ServisimSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetProductUserDetails" part="UserDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServisimSoap12" type="tns:ServisimSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <soap12:operation soapAction="http://tempuri.org/GetProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetProductUserDetails" part="UserDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servisim">
    <wsdl:port name="ServisimSoap" binding="tns:ServisimSoap">
      <soap:address location="https://localhost:44330/Servisim.asmx" />
    </wsdl:port>
    <wsdl:port name="ServisimSoap12" binding="tns:ServisimSoap12">
      <soap12:address location="https://localhost:44330/Servisim.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>